// Import all of Bootstrap's CSS
$enable-gradients: true;

// Customize some defaults
$border-radius: .4rem;
$success: #7952b3;

$primary: #c75c5cff;
$secondary: #f5cf87ff;

$primary-alt: #c75c5cff;
$secondary-alt: #f5cf87ff;
;

#login_button {
    color: white !important;
}

@import "~bootstrap-dark-5/scss/bootstrap-dark";
@import "~bootstrap/scss/variables";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";


.bi {
    fill: currentcolor;
}

.ui-datepicker-calendar {
    display: none;
    }